@media only screen and (min-width : 700px) {
    footer {
        top: 0;
        margin-top: 0;
        clear: both;
    }

    #copyright {
        width: 35%;
        line-height: 80px;
        top: 0;
    }
}
