@media only screen and (min-width : 700px) {
    #slogan {
        h1 {
            display: inline-block;
            float: right;
            clear: both;
            position: relative;
            top: 83px;
        }
    }

    #slider_inside {
        clear: both;

        p {
            padding-top: 90px;
        }

        .photo_slider {
            height: 300px;
            width: 250px;
        }
    }
}
