@media only screen and (min-width : 700px) {
    #slogan {
        h1 {
            display: inline-block;
        }
    }

    #slider_inside {
        clear: both;

        p {}

        .photo_slider {
            height: 300px;
            width: 50%;
        }
    }
}
