@media only screen and (min-width : 700px) {
    #slogan {
        width: 40%;
        margin-top: 70px;
        margin-left: 90px;

        h1 {
            font-size: 1.75rem;
        }
    }

    #slider_inside {
        clear: both;

        #left_arrow,
        #right_arrow {
            margin-top: 100px;
        }

        p {
            font-size: 1rem;
            padding-bottom: 20px;
        }

        .photo_slider {
            height: 350px;
            width: 40%;
            margin-top: 0;
        }

        .btn {
            width: 200px;
        }
    }
}
