@media only screen and (min-width : 560px) {
    #slogan {
        width: 47%;
        float: left;
        // clear: both;
        margin-top: 30px;
        margin-left: 60px;

        p {
            display: inline-block;
            // padding-bottom: 10px;
            font-size: 0.8rem;
        }

        h1 {
            font-size: 1.5rem;
            padding-bottom: 10px;
        }
    }

    #photo_slider1 {
        display: inline-block;
        float: left;
    }

    .photo_slider {
        height: 200px;
        width: 35%;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    #right_arrow {
        top: 30%;
    }

    #left_arrow {
        top: 30%;
    }

    .btn {
        // float: right;
        width: 180px;
        margin-top: 10px;
    }
}
