@media only screen and (min-width : 560px) {
    #slogan {
        width: 80%;

        p {
            display: inline-block;
            width: 54%;
            float: right;
            text-align: left;
            padding-top: 27px;
        }

        h1 {
            padding-bottom: 0;
        }
    }

    #photo_slider1 {
        display: inline-block;
    }

    .photo_slider {
        height: 215px;
        width: 38%;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    #right_arrow {
        top: 30%;
    }

    #left_arrow {
        top: 30%;
    }
}
