/*** SLIDER ***/
@media only screen and (min-width : 930px) {
    #slider {
        display: block;
        width: 100%;
        // height: 400px;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
    }

    #left_arrow,
    #right_arrow {
        text-align: center;
        line-height: 400px;
        color: #00ffff;
        font-size: 20px;
    }

    #left_arrow a {
        float: left;
        font-family: 'ralewayregular', arial, sans-serif;
        color: #24BA9F;
        font-size: 100px;
    }

    #right_arrow a {
        float: right;
        font-family: 'ralewayregular', arial, sans-serif;
        color: #24BA9F;
        font-size: 100px;
    }

    .photo_slider {
        box-sizing: border-box;
        height: 300px;
        width: 300px;
        float: left;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        // margin-top: 60px;
    }

    #photo_slider1,
    #photo_slider2,
    #photo_slider3 {
        display: none;
    }

    #photo_slider1 {
        background-image: url('../images/black_chair.png');
    }

    #photo_slider2 {
        background-image: url('../images/orange.png');
    }

    #photo_slider3 {
        background-image: url('../images/red.png');
    }

    #slogan {
        box-sizing: border-box;
        // height: 300px;
        width: 500px;
        float: left;
        // margin-top: 100px;
        padding-left: 60px;
    }

    #slogan p {
        font-family: 'ralewaylight', arial, sans-serif;
        padding-top: 30px;
        text-align: center;
    }

    #slogan h1 {
        /*    font-family: 'ralewaybold', arial, sans-serif;*/
        font-size: 40px;
        text-align: center;
        /*    line-height: 200px;*/
        text-transform: uppercase;
    }

    .btn {
        position: relative;
        top: 30px;
        left: 123px;
        color: #fff;
        font-family: 'ralewayregular', arial, sans-serif;
        font-size: 20px;
        background-color: #24BA9F;
        height: 50px;
        width: 100px;
        padding: 10px 30px;
        text-transform: uppercase;
        text-align: center;
        border-radius: 5px;
    }
}
