/*** FOOTER ***/
@media only screen and (min-device-width : 320px) {
    footer {
        background-color: white;
        height: 80px;
    }

    #copyright {
        float: left;
        height: 80px;
        color: #a8a8a9;
        line-height: 80px;
        font-size: 16px;
        width: 64%;
    }

    #icons {
        display: flex;
        align-items: center;
        height: 80px;
        float: left;
    }

    #icons img {
        height: 35px;
        width: 35px;
        float: left;
        margin: 0 5px;
    }

    .footer_logo {
        margin-left: 30px;
        line-height: 35px;
        color: #a8a8a9;
        font-size: 16px;
        text-transform: uppercase;
    }

    .footer_logo span {
        font-family: 'ralewaybold', arial, sans-serif;
    }
}
