/*** PRICING ***/
@media only screen and (min-device-width : 320px) {
    #pricing {
        width: 100%;
        background-color: #f1f1f1;
        position: relative;
        top: 50px;
        padding-bottom: 50px;
    }

    .pricing_header {
        display: block;
        font-family: 'Lato', arial, sans-serif;
        padding-top: 30px;
        text-transform: uppercase;
        font-size: 18px;
        margin-left: 20px;
    }

    #prices {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0 auto;
        width: 90%;
    }

    .price {
        position: relative;
        height: 460px;
        width: 280px;
        border: 2px solid #A8A8A9;
        margin: 50px auto 0;
        background-color: #f9f9f9;
    }

    .circle {
        position: relative;
        top: -27px;
        left: 115px;
        width: 45px;
        height: 45px;
        border-radius: 100%;
        border: 12px solid #fff;
        background-color: #c1c1c1;
        box-shadow: 0 0 0 2px #A8A8A9;
    }

    .price h1 {
        text-transform: uppercase;
        color: #24BA9F;
        font-size: 24px;
        text-align: center;
    }

    .superscript {
        vertical-align: super;
        font-size: 16px;
    }

    .price_circle {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        position: relative;
        left: 78px;
        top: 30px;
        border: 2px solid #a8a8a9;
        background-color: #fff;
    }

    .price_circle h1 {
        font-size: 38px;
        text-align: center;
        font-family: 'Lato', arial, sans-serif;
        color: #c0c0c0;
        margin-top: 20px;
    }

    .price_circle p {
        font-family: 'Lato', arial, sans-serif;
        margin-top: -15px;
        font-size: 14px;
        color: #c0c0c0;
        text-align: center;
    }

    .list {
        margin-top: 40px;
        list-style-type: none;
        color: #A8A8A9;
        font-family: 'Lato', arial, sans-serif;
        vertical-align: center;
        font-size: 20px;
        text-align: center;
    }

    .list li:nth-child(2n+1) {
        background-color: #e4e4e4;
    }

    .list li {
        padding: 5px 0;
        background-color: #f1f1f1;
    }

    .btn2 {
        position: absolute;
        color: #fff;
        font-family: 'Lato', arial, sans-serif;
        font-size: 12px;
        background-color: #24BA9F;
        padding: 8px 20px;
        text-transform: uppercase;
        border-radius: 5px;
        margin-left: 94px;
        bottom: 20px;
    }
    /*** Middle Price ***/
    .second_price {
        background-color: #24BA9F;
    }

    .second_price .circle {
        border: 12px solid #24BA9F;
        background-color: #fff;
        box-shadow: 0 0 0 2px #24BA9F;
    }

    .second_price .list li:nth-child(2n+1) {
        background-color: #fff;
    }

    .second_price h1 {
        color: white;
    }

    .second_price .price_circle h1 {
        color: #24BA9F;
    }

    .second_price .price_circle p {
        color: #24BA9F;
    }

    .second_price .btn2 {
        background-color: #fff;
        color: #24BA9F;
    }
}
