/*** SLIDER ***/
@media only screen and (min-width : 320px) {
    #slider {
        width: 100%;
        position: relative;
        top: 50px;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
    }

    #left_arrow {
        display: block;
        font-family: 'Lato', arial, sans-serif;
        color: #24BA9F;
        font-size: 80px;
        float: left;
        margin-top: 55px;
    }

    #right_arrow {
        float: right;
        margin-top: 55px;
        display: block;
        font-family: 'Lato', arial, sans-serif;
        color: #24BA9F;
        font-size: 80px;
        // margin-right: 10px;
    }

    .photo_slider {
        box-sizing: border-box;
        display: none;
    }

    #photo_slider1,
    #photo_slider2,
    #photo_slider3 {
        display: none;
    }

    #photo_slider1 {
        background-image: url('../images/black_chair.png');
    }

    #photo_slider2 {
        background-image: url('../images/orange.png');
    }

    #photo_slider3 {
        background-image: url('../images/red.png');
    }

    #slider_content {
        margin: 0 auto;
        padding-bottom: 30px;
        padding-top: 30px;
    }

    #slider_content p {
        font-family: 'Lato', arial, sans-serif;
        text-align: center;
        // padding-bottom: 20px;
    }

    #slider_content h1 {
        font-size: 1.75rem;
        text-align: center;
        padding-bottom: 20px;
        text-transform: uppercase;
    }

    .btn {
        display: block;
        color: #fff;
        font-family: 'Lato', arial, sans-serif;
        font-size: 1rem;
        background-color: #24BA9F;
        padding: 8px;
        text-transform: uppercase;
        text-align: center;
        border-radius: 5px;
        margin: 20px auto 0;
        width: 165px;
    }

    #slider {
        padding-bottom: 30px;
    }

    #slogan {
        width: 70%;
        margin: 40px auto 0;
    }
}
